<div class="container ">
  <div class="row alert alert-primary">
    <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12" align="center">
      <h3 >Добро пожаловать на страницу личного блога!!</h3>
    </div>
  </div>
  <i>
    <%= link_to 'Перейти к статьям', articles_path %>
  </i>
</div>

